.node {
  cursor: pointer;
}

.node circle {
  fill: white;
  stroke: lightgrey;
  stroke-width: 1.5px;
}

.node circle:hover {
	stroke: red;
}


.node text {
  font: 12px 'Helvetica', sans-serif;
}

.link {
  fill: none;
  stroke: grey;
  stroke-width: 1.5px;
}

.node circle.active {
	fill: red;
}

path.link.active {
	stroke: red;
}