.node {
  cursor: pointer;
}

.node circle {
  fill: grey;
  stroke: lightgrey;
  stroke-width: 1.5px;
}

.node text {
  font: 12px 'Helvetica', sans-serif;
}

.link {
  fill: none;
  stroke: grey;
  stroke-width: 1.5px;
}