.node {
  cursor: pointer;
}

.node circle {
  fill: white;
  stroke: lightgrey;
  stroke-width: 1.5px;
}

.node circle:hover {
	stroke: blue;
}

.node text {
  font: 12px 'Helvetica', sans-serif;
  margin-left: 20px;
}

.link {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1px;
}

.node circle.active {
	fill: blue;
	stroke: none;
}
 
@keyframes dash {
  to {
    stroke-dashoffset: 0%;
  }
}

path {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: dash 5s ease-in-out forwards;
}


path.link.active {
	stroke: blue;
	stroke-width: 2.5px;
}